.profile {
  width: 50%;
  margin: 0 auto;
}

h2 {
  margin: 0 0 0 15px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}
.button-menu {
  border: none;
  background: none;
  outline: none;
}
