<div class="container">
  <form class="form" [formGroup]="form">
    <mat-form-field>
      <input matInput type="text" placeholder="Фамилия" formControlName="lastname" pattern="^[А-Яа-яЁё]+$" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Имя" formControlName="firstname" pattern="^[А-Яа-яЁё]+$" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Отчество" formControlName="patronic" pattern="^[А-Яа-яЁё]+$" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Дата рождения" formControlName="dateOfBd" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-radio-group formControlName="sex" required>
      <mat-radio-button *ngFor="let sex of options.sex" [value]="sex">{{sex.label}}</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
      <input matInput type="text" placeholder="Серия паспорта" formControlName="passportSeries" maxlength="2" pattern="[A-Za-z]{2}" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="№ паспорта" formControlName="passportNumber" maxlength="7" pattern="[0-9]{7}" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Кем выдан" formControlName="issuedBy" pattern="^[А-Яа-яЁё\s]+$" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Идентификационный номер" formControlName="identificationNumber" maxlength="14" pattern="[A-Za-z0-9]{14}" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" placeholder="Место рождения" formControlName="placeOfBirth" pattern="^[А-Яа-яЁё\s]+$" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Город фактического проживания" formControlName="city" required>
        <mat-option *ngFor="let city of options.city" [value]="city">{{city.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field >
      <input matInput type="text" placeholder="Адрес прописки" formControlName="address" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="tel" placeholder="Мобильный телефон" formControlName="phoneNumber" pattern="\+375-[0-9]{2}-[0-9]{3}-[0-9]{4}">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Семейное положение" formControlName="familyStatus" [(value)]="profile.familyStatus"  required>
        <mat-option  *ngFor="let status of options.status" [value]="status" >{{status.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Гражданство" formControlName="nationality" [(value)]="profile.nationality" required>
        <mat-option *ngFor="let nationality of options.nationality" [value]="nationality">{{nationality.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Инвалидность" formControlName="disability" required>
        <mat-option *ngFor="let disability of options.disability" [value]="disability">{{disability.label}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Ежемесячный доход" formControlName="revenue">
    </mat-form-field>
    <mat-checkbox formControlName="isRetiree">Пенсионер</mat-checkbox>

    <button mat-button type="submit" [disabled]="!form.valid" (click)="onEdit()">Изменить</button>
  </form>
</div>
