.header {

  &_banner {
    width: 75%;
    margin: 0 auto;
    padding-top: 2%;

    display: flex;
    flex-direction: row;

    &_img {
      width: 50%;

      & img {
        width: 100%;
      }
    }

  }

  &_menu {
    width: 100%;
    height: 50px;
    background: -webkit-linear-gradient(top, #fffc00 0, #fcdf00 100%);

    &_navbar {

    }
  }
}

