<section class="header">
  <div class="header_banner">
    <div class="header_banner_img">
      <a routerLink="/main"><img src="../../../../assets/img/logo/logo_good.jpg"></a>
    </div>
    <div class="header_banner_content">
      <!--<ng-template *ngIf="!flag" (navbarEdited)="onNavbarChange()">-->
        <div class="header_banner_content_link">
          <a routerLink="/registration">Регистрация</a><br>
        </div>
        <div class="header_banner_content_link">
          <a routerLink="/login">Войти</a>
        </div>
      <!--</ng-template>-->
    </div>
  </div>
  <div class="header_menu">
    <div class="header_menu_navbar">

    </div>
  </div>
</section>
