<app-navbar></app-navbar>

<div class="container">
  <h3>Заполните форму для оформления кредита</h3>

  <form [formGroup]="creditForm" class="creditForm">
    <mat-form-field appearance="outline">
      <mat-label>Вид кредита</mat-label>
      <mat-select placeholder="Вид кредита" formControlName="creditType" required>
        <mat-option *ngFor="let creditType of creditOptions.creditType" [value]="creditType">{{creditType.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Номер договора</mat-label>
      <input matInput #numOfContract type="number" formControlName="numberOfContract" pattern="[0-9]{8}" required>
      <mat-hint align="end">{{numOfContract.value?.length || 0}}/8</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Вид валюты</mat-label>
      <mat-select formControlName="currencyType" required>
        <mat-option *ngFor="let currencyType of creditOptions.currencyType" [value]="currencyType">{{currencyType.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Дата начала кредитной программы</mat-label>
      <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="dateOfCreditStart" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Срок кредиты</mat-label>
      <mat-select formControlName="creditTerm" required>
        <mat-option *ngFor="let creditTerm of creditOptions.creditTerm" [value]="creditTerm">{{creditTerm.label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Сумма кредита</mat-label>
      <input matInput type="number" formControlName="creditAmount" pattern="[0-9]{3,}" required>
    </mat-form-field>

    <button mat-button type="submit" [disabled]="!creditForm.valid" (click)="onSubmit()">Оформить кредит</button>

  </form>

</div>
