<app-navbar></app-navbar>
<div class="container">
  <h3>Информация о счетах</h3>
  <mat-tab-group mat-align-tabs="center" class="content">
    <mat-tab label="Личный счет">
      <p><strong>Номер счета:</strong> {{clientAccount.accountNumber}}</p>
      <p><strong>Баланс:</strong> {{clientAccount.accountBalance}} бел.руб.</p>
    </mat-tab>
    <mat-tab label="Депозиты">
      <div class="deposit" *ngFor="let deposit of deposits ">
        <p><strong>Номер договора:</strong> {{deposit.numberOfContract}}</p>
        <p><strong>Вид депозита:</strong> {{deposit.depositType.label}}</p>
        <p><strong>Дата начала:</strong> {{deposit.dateOfDepositStart}}</p>
        <p><strong>Дата окончания:</strong> {{deposit.dateOfDepositEnd}}</p>
        <p><strong>Сумма вклада:</strong> {{deposit.depositAmount}}</p>
        <hr>
      </div>
    </mat-tab>
    <mat-tab label="Кредиты"></mat-tab>
  </mat-tab-group>
</div>
