<app-navbar></app-navbar>
<div class="container">
  <h3>Информация о счетах</h3>
  <mat-tab-group mat-align-tabs="center" class="content">
    <mat-tab label="Личный счет">
      <p><strong>Номер счета:</strong> {{clientAccount.accountNumber}}</p>
      <p><strong>Баланс:</strong> {{clientAccount.accountBalance}} бел.руб.</p>
    </mat-tab>
    <mat-tab label="Депозиты">
      <div class="deposit" *ngFor="let deposit of deposits ">
        <p><strong>Номер договора:</strong> {{deposit.numberOfContract}}</p>
        <p><strong>Вид депозита:</strong> {{deposit.depositType.label}}</p>
        <p><strong>Вид валюты:</strong> {{deposit.currencyType.label}}</p>
        <p><strong>Дата начала:</strong> {{deposit.dateOfDepositStart}}</p>
        <p><strong>Дата окончания:</strong> {{deposit.dateOfDepositEnd}}</p>
        <p><strong>Сумма вклада:</strong> {{deposit.depositAmount}}</p>
        <hr>
      </div>
    </mat-tab>
    <mat-tab label="Кредиты">
      <div class="credit" *ngFor="let credit of creditsDto">
        <p><strong>Номер договора:</strong> {{credit.numberOfContract}}</p>
        <p><strong>Вид кредита:</strong> {{credit.creditType}}</p>
        <p><strong>Вид валюты:</strong> {{credit.currencyType}}</p>
        <p><strong>Дата начала:</strong> {{credit.dateOfCreditStart}}</p>
        <p><strong>Дата окончания:</strong> {{credit.dateOfCreditEnd}}</p>
        <p><strong>Сумма кредита:</strong> {{credit.creditAmount}}</p>
        <p><strong>Задолжность на данный момент:</strong> {{credit.commonDebt}}</p>

        <!--<p><strong>Платеж </strong> {{credit.dateOfCreditStart.getDate().toString()}} числа каждого месяца</p>-->

        <p *ngIf="credit.commonDebt < 0" >
          <a (click)="payDebt(credit.creditId)">Оплатить кредит</a>
        </p>

        <hr>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

